{% extends('base.html.twig') %}

{% block body %}
<div class="jumbotron">
	<h1 class="display-3">Bienvenue sur mon site</h1>
	<p class="lead">blablabla</p>
	<hr class="my-2">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laboriosam velit cum similique, autem unde
		soluta. Exercitationem veritatis optio ut non porro corrupti nesciunt sed hic atque labore, sunt assumenda!
	</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Bingo ! </a>
	</p>
</div>

<div class="card border-primary">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <p class="card-text">Text</p>
  </div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem, voluptate expedita obcaecati hic ipsam, numquam deserunt eius laborum sapiente rem maiores! Totam, cupiditate ea aspernatur repellendus quas similique temporibus?
</div>
{% endblock %}