{% extends 'base.html.twig' %}

{% block title %}Hello ProfController!{% endblock %}

{% block body %}
{%for un_prof in profs%}
<div class="row">
    <div class="card text-left col-4">
        <div class="card-body">
            <h4 class="card-title">Nom du prof: {{un_prof.nom}} {{un_prof.prenom}}</h4>
            <p class="card-text">Classe: {{un_prof.classe.nom}}</p>
            <p class="card-text">Matieres: {{un_prof.matieres.nom}}</p>
            <hr>
        </div>
    </div>
</div>
{%endfor%}
{% endblock %}
