{% extends 'base.html.twig' %}

{% block title %}Hello ReglementInterieurController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Reglement Interieur ✅</h1>   
</div>
<div class="card" style="background-color:cadetblue; border-color:darkblue;">
  <img class="card-img-top" src="holder.js/100x180/" alt="">
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem
        <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem <br>
        <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga. </p>
  </div>
  <hr>
  <div class="row">
      <div class="col-sm-1-12">
          <div class="card">
              <div class="card-body">
                  <h3 class="card-title">Title</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem
                    <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem <br>
                    <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-xs-1-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Title</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem
                        <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga. 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem <br>
                        <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-1-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem
                          <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga. 
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem <br>
                          <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga.</p>
                      </div>
                  </div>
              </div>
              <hr>
              <div class="col-xs-1-12">
                  <div class="card">
                      <div class="card-body">
                          <h3 class="card-title">Title</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem
                              <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga. 
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem <br>
                              <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga.</p>
                      </div>
                  </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-1-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Title</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem
                              <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga. 
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem <br>
                              <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga.</p>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="col-xs-1-12">
                      <div class="card">
                          <div class="card-body">
                              <h3 class="card-title">Title</h3>
                              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem
                                  <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga. 
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem <br>
                                  <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga.</p>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-1-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Title</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem
                                  <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga. 
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem <br>
                                  <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga.</p>
                              </div>
                          </div>
                      </div>
                      <hr>
                      <div class="col-xs-1-12">
                          <div class="card">
                              <div class="card-body">
                                  <h3 class="card-title">Title</h3>
                                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem
                                      <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga. 
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet minus maiores quos dolor quisquam voluptatem <br>
                                      <br> quidem dolorem quia excepturi ut, dolorum saepe suscipit facere delectus laborum eaque aut fuga.</p>
                              </div>
                          </div>
                      </div>
                      

    </div>
</div>
{% endblock %}
